.carouselContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: nowrap;
  column-gap: 36px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.carouselControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: 80px;
}

.carouselIndicators {
  display: none;
}

.carouselIndicator {
  display: flex;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 100%;
  background: #141414;
  opacity: 0.4;
  cursor: pointer;
}

.carouselIndicator.active {
  opacity: 1;
}

.carouselControl {
  width: 55px;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

.carouselControl.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.carouselControl.back {
  transform: rotate(180deg);
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .carousel {   
    column-gap: 18px;
  }

  .carouselControls {
    display: none;
  }

  .carouselIndicators {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    row-gap: 12px;
    justify-content: center;
    margin-top: 45px;
    padding-right: 18px;
    padding-left: 18px;
    flex-wrap: wrap;
  }
}
